<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" id="map_script" src="{{ url_for('static', filename='js/map.js') }}"
            data="{{ bike_api_key }}"></script>
</head>
<body>
<div class="input-group mb-3" style="width: 30%">
    <input id="search_box" type="text" class="form-control" placeholder="Station name, Street name..."
           aria-describedby="button-addon2"
           value=""
    >
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick=open_info_window()>
            Search
        </button>
    </div>
</div>
<div id="hint"></div>
<div id="bike_map" style="width:70%;height:600px;"></div>
{#    <div id="weather_box">{{ weather_json["weather"][0]["main"] }}-{{ weather_json["main"]["temp"] }}</div>#}
<h3 id="test"></h3>
{#            <div class="col-md-4 offset-md-4">#}

</div>
<script>
    var delay = (function () {
        var timer = 0;
        return function (callback, ms) {
            clearTimeout(timer);
            timer = setTimeout(callback, ms);
        };
    })();
    $('#search_box').keyup(function () {
        delay(function () {
            var input = $("#search_box").val();
            $.get("/search", {'input': input}, function (data) {
                let hint_msg = "<ul>";
                Object.keys(data).forEach(function (key) {
                    hint_msg += "<li>" + data[key] + "</li>"
                });
                hint_msg += "</ul>";
                $("#hint").html(hint_msg);
            });
        }, 0);
    });

        function open_info_window() {
            let marker = markers[0].obj;
            let content = markers[0].content;
            let station_name = document.getElementById('search_box').value;
            for (let i = 0; i < markers.length; i++) {
                if (markers[i].title == station_name) {
                    marker = markers[i].obj;
                    content = markers[i].content;
                    break;
                }
            }
            var infowindow = new google.maps.InfoWindow({
                content: content,
                maxWidth: 500
            });
            if (active_marker_obj != null) {
                active_marker_obj.close();
            }
            active_marker_obj = infowindow;
            infowindow.open(marker.get("map"), marker);
        }
    </script>
    <script type="text/javascript" id="auto_complete_script"
            src="{{ url_for('static', filename='js/auto_complete.js') }}"></script>
    <script async defer
            src= {{ map_key }}>
    </script>

</body>

