<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slider.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/weather.css') }}"/>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300" rel="stylesheet">

    <title>Dublin Bikes</title>
    <style>
        .city {
            font-family: Poiret One;
            font-size: 23pt;
        }

        @media screen and (max-width: 800px) {
            .responsive {
                max-width: 130%;
                height: auto;
            }

            .nav-bg-color {
                background-color: rgb(35, 35, 35) !important;
            }
        }

        @media screen and (max-width: 860px) {
            .bg-video {
                display: none !important;
            }
        }


        .p_font {
            font-family: Dosis, sans-serif;
            font-weight: 300;
            font-size: 13pt;
        }

        .h2_font {
            font-family: Dosis, sans-serif;
            font-weight: 500;
            font-size: 17pt
        }

        .description {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 200;
            font-size: 13pt;
        }

        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
        }

    </style>
</head>
<body style="background-color: lightgrey;padding-bottom:0;padding-left: 0;padding-right: 0">
<div class="container-fluid" id="top_page" style="z-index: 99999">
    <nav class="navbar navbar-expand-md navbar-light nav-bg-color" id="nav_bar"
         style="background-color: transparent;position: fixed;top: 0;left: 0;width: 100%;font-family: Poiret One;font-weight: bolder;z-index: 9999">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" width="50" height="50"
                 class="d-inline-block align-top" alt="Dublin Bikes">
            <a class="navbar-caption text-white display-7" href="#top_page" onclick="to_map()">Dublin Bikes</a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
                style="border-color: white">
            <span class="navbar-toggler-icon custom-toggler"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
            <ul class="navbar-nav">
                <img src="{{ url_for('static', filename='img/home.svg') }}" width="35" height="35"
                     style="margin-top: 10px;margin-right: -30px"
                     alt="Home"
                     onclick="to_map()"
                >
                <li class="nav-item">
                    <a class="nav-link link text-white" onclick="nav_home()"
                       style="cursor:grab;font-size: 1.4rem">Home </a>
                </li>
                <img src="{{ url_for('static', filename='img/home_map.svg') }}" width="35" height="35"
                     style="margin-top: 10px;margin-right: -30px"
                     alt="Map"
                >
                <li class="nav-item">
                    <a class="nav-link link text-white" onclick="nav_map()"
                       style="cursor:grab;font-size: 1.4rem">Map</a>
                </li>
                <img src="{{ url_for('static', filename='img/work-team.svg') }}" width="40" height="40"
                     style="margin-top: 10px;margin-right: -30px"
                     alt="About">
                <li class="nav-item">
                    <a class="nav-link link text-white" onclick="nav_about()"
                       style="cursor:grab;font-size: 1.4rem">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id='home_page'>
        <div class="embed-responsive embed-responsive-16by9 background">
            <video class="bg-video" width="320" height="240" style="opacity: 0.7; background-color: rgb(35, 35, 35);"
                   autoplay muted
                   loop>
                <source src="{{ url_for('static',filename='img/Dublinbikes.mp4') }}#t=5" type="video/mp4">
            </video>
        </div>
        <div class="row justify-content-md-center" style="margin-top: 150px;margin-bottom: 250px">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Discover Bike<br>Explore
                    Dublin</h1>
                <p class="mbr-text align-center pb-3 display-5">
                    Unlock your ride and your city with this website, the smartest bike sharing system. You’ll never
                    have to
                    worry about renting bikes and finding a parking station, just enjoy your ride.
                </p>
                <div class="mbr-section-btn align-center">
                    <button type="button" class="btn btn-md btn-white-outline"
                            onclick="to_map()">Find a
                        bike
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="map_page" style="display: none;margin: 30px 0 -50px 0">
    <div class="container-fluid" style="position:relative;">
        <div class="row" style=";">
            <div class="col-md-6 flex-row" style="">
                <div class="input-group mb-3"
                     style="height: 100%">
                    <div class="autocomplete col-9" style="padding: 0">
                        <input id="search_box" type="text" placeholder="Station name, Street name..."
                               class="form-control"
                               style="border-radius: 5px 0 0 5px;height: 80%">
                    </div>
                    <div class="input-group-append col-3" style="padding: 0;">
                        <button type="button" class="btn btn-info" style="border-radius: 0 5px 5px 0;height: 80%"
                                onclick=open_info_window()>Search
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="">
                <div class="input-group" style="height: 100%">
                    <input type="text" aria-label="start" class="form-control" id="route_start" placeholder="From..."
                           style="height: 80%">
                    <input type="text" aria-label="destination" class="form-control" id="route_end"
                           placeholder="Destination" style="height: 80%">
                    <div id="route_btn" class="input-group-prepend" style="padding: 0;">
                        <button id="route_btn" type="button" class="btn btn-success" onclick="calc_display_route()"
                                style="border-radius: 0 5px 5px 0;height: 80%;background-color: #0A384A;border-color: #0A384A ">
                            Go
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="padding: 0;position: relative;">
        <div class="weather_box">
            <div class="container">
                <div class="row align-items-center"
                     style="background: #FAFAFA;">
                    <div class="city col-4">
                        Dublin
                    </div>
                    <div class="col-8"
                         style="font-family: Poiret One;font-size: 20px;font-weight: bolder">
                        <span style="margin-right: 10px;font-size: 25px" id="temp_current">25&deg; CLOUDY</span>
                        <i class="wi wi-thunderstorm" style="font-size: 35px;" id="icon0"></i>
                    </div>
                </div>
                <div class="row"
                     style=";color: white;font-family: Poiret One;">
                    <div class="col-4" style="background: #5e5e5e;padding-bottom: 15px">
                        <div class="row">
                            <p style="margin: auto" id="time1"> 15:00</p>
                        </div>
                        <div class="row align-items-end justify-content-center">
                            <span style="font-size: 18px;margin-right: 10px; margin-top: 10px;"
                                  id="temp1">25&deg;</span>
                            <i class="wi wi-thunderstorm" style="font-size: 30px;" id="icon1"></i>
                        </div>

                    </div>
                    <div class="col-4" style="background: #5e5e5e">
                        <div class="row">
                            <p style="margin: auto" id="time2"> 15:00</p>
                        </div>
                        <div class="row align-items-end justify-content-center">
                            <span style="font-size: 18px;margin-right: 10px; margin-top: 10px;"
                                  id="temp2">25&deg;</span>
                            <i class="wi wi-thunderstorm" style="font-size: 30px;" id="icon2"></i>
                        </div>
                    </div>
                    <div class="col-4" style="background: #5e5e5e">
                        <div class="row">
                            <p style="margin: auto" id="time3"> 15:00</p>
                        </div>
                        <div class="row align-items-end justify-content-center">
                            <span style="font-size: 18px;margin-right: 10px; margin-top: 10px;"
                                  id="temp3">25&deg;</span>
                            <i class="wi wi-thunderstorm" style="font-size: 30px;" id="icon3"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position: absolute;z-index: 99;left: 15px;top:15px;">
            <div class="container">
                <div class="row" style="">
                    <div class="col-2 col-md-2" style=";padding: 0;width: 10%">
                        <button type="button" class="btn btn-primary btn-sm display-4"
                                style="background: #2c3e50;border: 0;border-radius: 20px;" onclick="back_to_now()">NOW
                        </button>
                    </div>
                    <div class="col-10 col-md-10" style="">
                        <input class="range-slider__range" type="range" value="0" min="1" max="12"
                               step="1" style="background: white;" id="time_slider">
                        <span class="range-slider__value" id="SliderVal"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="bike_map" style="height: 80vh"></div>
            </div>
        </div>
    </div>
</div>
<div id="about_page" style="display: none;">
    <div class="container-fluid" style="background-color: lightgrey;margin-top: 10px">
        {#        <div class="row col-12 justify-content-center" style="margin-top: 10px;margin-bottom: 10px">#}
        {#            <h2 class="h2_font" style="font-weight: 200;font-size: 40pt">Our Team</h2>#}
        {#        </div>#}
        <div class="row text-center justify-content-around" style="margin-top: 40px">
            <div class="col-2" style="padding: 0 10px 0 10px">
                <img class="rounded-circle responsive"
                     src="{{ url_for('static', filename='img/Shirley.jpg') }}"
                     alt="Jingyuan Feng" width="160" height="160"
                     style="margin-bottom: 30px;margin-top: 10px">
                <h2 class="h2_font">Jingyuan Feng</h2>
                <p class="p_font">Scrum Master</p>
            </div>
            <div class="col-2" style="padding: 0 10px 0 10px">
                <img class="rounded-circle responsive"
                     src="{{ url_for('static', filename='img/Chris.jpg') }}"
                     alt="Weishun Liao" width="160" height="160"
                     style="margin-bottom: 30px;margin-top: 10px">
                <h2 class="h2_font">Weishun Liao</h2>
                <p class="p_font">Developer</p>
            </div>
            <div class="col-2" style="padding: 0 10px 0 10px">
                <img class="rounded-circle responsive"
                     src="{{ url_for('static', filename='img/LY.jpg') }}"
                     alt="Generic placeholder image" width="160" height="160"
                     style="margin-bottom: 30px;margin-top: 10px">
                <h2 class="h2_font">Yao Lu</h2>
                <p class="p_font">Developer</p>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-color:#0B2F3A;color: white;margin-bottom: 10px">
        <div class="row justify-content-center" style="text-align: center;padding-top: 10px">
            <div class="title col-12 col-lg-8">
                <h2 class="mbr-section-title align-left mbr-fonts-style display-5"
                    style="font-family:Open+Sans;font-weight: 300;padding-bottom: 0">
                    CONTACT US</h2>
                <span class="description">Use the form below to get in touch - we will get back to you ASAP.</span>
            </div>
        </div>
        <div class="row justify-content-center" style="padding-bottom: 10px">
            <div class="media-container-column col-lg-8" data-form-type="formoid">
                <form id="mbr-form" class="mbr-form" action="/send_email" method="get"><input
                        type="hidden" data-form-email="true">
                    <div class="row row-sm-offset">
                        <div class="col-md-6 multi-horizontal" data-for="name">
                            <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7 p_font"
                                       for="name-form1-2w">Name</label>
                                <input type="text" class="form-control" name="name" data-form-field="Name"
                                       id="name-form1-2w">
                            </div>
                        </div>
                        <div class="col-md-6 multi-horizontal" data-for="email">
                            <div class="form-group">
                                <label class="form-control-label mbr-fonts-style display-7 p_font"
                                       for="email-form1-2w">Email</label>
                                <input type="email" class="form-control" name="email" data-form-field="Email"
                                       required=""
                                       id="email-form1-2w">
                            </div>
                        </div>

                    </div>
                    <div class="form-group" data-for="message">
                        <label class="form-control-label mbr-fonts-style display-7 p_font"
                               for="message-form1-2w">Message</label>
                        <textarea type="text" class="form-control" name="message" rows="5" data-form-field="Message"
                                  id="message-form1-2w"></textarea>
                    </div>
                    <div class="row justify-content-center">
                    <span class="input-group-btn">
                            <button id="submit-form" type="submit" class="btn btn-light btn-form display-4 h2_font"
                                    style="font-size: 16px">SEND FORM</button>
                    </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var d = new Date();
    var h = d.getUTCHours();
    var m = d.getMinutes();
    $('#SliderVal').text(0);

    function to_map() {
        let map = document.getElementById('map_page');
        if (map.style.display == 'none') {
            $("#home_page").fadeOut("slow");
            $("#map_page").fadeIn("slow");
            document.getElementById('nav_bar').style.backgroundColor = '#5e5e5e';
        } else {
            document.getElementById('nav_bar').style.backgroundColor = 'transparent';
            $("#map_page").fadeOut("slow");
            $("#home_page").fadeIn("slow");
        }

    }

    function nav_home() {
        document.getElementById('nav_bar').style.backgroundColor = 'transparent';
        $("#map_page").fadeOut("slow");
        $("#home_page").fadeIn("slow");
        $("#about_page").fadeOut("slow");

    }

    function nav_map() {
        document.getElementById('nav_bar').style.backgroundColor = '#5e5e5e';
        $("#home_page").fadeOut("slow");
        $("#map_page").fadeIn("slow");
        $("#about_page").fadeOut("slow");

    }

    function nav_about() {
        document.getElementById('nav_bar').style.backgroundColor = '#5e5e5e';
        $("#home_page").fadeOut("slow");
        $("#map_page").fadeOut("slow");
        $("#about_page").fadeIn("slow");

    }


    var slider_data;
    $.get("/predict_occupancy", function (response) {
        slider_data = response;
    });

    time_slider_obj = $("#time_slider");
    time_slider_obj.on('change', function () {
        let val = time_slider_obj.val();
        $("#SliderVal").text("+" + val + "hr");
        clear_markers();
        draw_marker(slider_data[parseInt(val)])
    });
    var time_galobal = "current";

    function open_info_window() {
        let marker = markers[0].obj;
        let content = markers[0].content;
        let station_name = document.getElementById('search_box').value;
        for (let i = 0; i < markers.length; i++) {
            if (markers[i].title == station_name) {
                marker = markers[i].obj;
                content = markers[i].content;
                break;
            }
        }
        var infowindow = new google.maps.InfoWindow({
            content: content,
            maxWidth: 500
        });
        if (active_marker_obj != null) {
            active_marker_obj.close();
        }
        active_marker_obj = infowindow;
        infowindow.open(marker.get("map"), marker);
    }

    function back_to_now() {
        time_galobal = "current";
        $.get("/update_map?t=current", function (response) {
            $('#SliderVal').text(0);
            clear_markers();
            draw_marker(response);
        });
    }

    function to_feature(id, past_available_bike, past_available_bike_stands) {
        if (document.getElementById("wrap-box_feature").style.display === "none") {
            document.getElementById("wrap-box_now").style.display = 'none';
            document.getElementById("wrap-box_past24").style.display = 'none';
            $("#wrap-box_feature").fadeIn("slow");
        }
        $.get('/get_prediction?id=' + id + '&past_available_bike=' + past_available_bike + '&past_available_bike_stands=' + past_available_bike_stands, function (response) {
            document.getElementById('next2_bikes').innerHTML = "Available bikes:" + response[0];
            document.getElementById('next2_bikes_stand').innerHTML = "Free stands:" + response[1];
        })
    }

    function to_now() {
        if (document.getElementById("wrap-box_now").style.display === "none") {
            document.getElementById("wrap-box_feature").style.display = 'none';
            document.getElementById("wrap-box_past24").style.display = 'none';
            $("#wrap-box_now").fadeIn("slow");
        }
    }

    function to_past24(id) {
        drawChart(id);
        if (document.getElementById("wrap-box_past24").style.display === "none") {
            document.getElementById("wrap-box_feature").style.display = 'none';
            document.getElementById("wrap-box_now").style.display = 'none';
            $("#wrap-box_past24").fadeIn("slow");
        }
    }

    google.charts.load('current', {'packages': ['corechart']});

    function drawChart(id) {
        let json24 ={{ past24 | tojson}};
        var data = google.visualization.arrayToDataTable(json24[id]);
        var options = {
            title: 'Available Bikes Number',
            legend: {position: 'none'},
            chartArea: {'width': '75%', 'height': '80%'},
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }

    let weathers_object_forecast = {{ weather_forecast | tojson }};
    let weathers_object_current ={{ weather_current | tojson }};

</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script async defer
        src= {{ map_key }}>
    {#src=https://maps.googleapis.com/maps/api/js?client=gme-mcdonaldscorporation2&callback=myMap&language=en>#}
</script>
<script id="map_script" src="{{ url_for('static', filename='js/map.js') }}"></script>
<script src="{{ url_for('static', filename='js/weather.js') }}"></script>
<script id="auto_complete_script" src="{{ url_for('static', filename='js/auto-complete.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
</body>
</html>