<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/slider.css') }}"/>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <title>Title</title>
    <style>
        .city {
            font-family: Poiret One;
            font-size: 23pt;
        }
        @media screen and (max-width: 600px) {
            .button_font_size {
                font-size: 16px;
                padding: 1px 6px;
            }
        }
    </style>
</head>
<body style="background-color: lightgrey">
<div class="container-fluid" id="top_page" style="">
    <nav class="navbar navbar-expand-lg navbar-light" id="nav_bar"
         style="background-color: transparent;position: fixed;top: 0;left: 0;width: 100%;font-family: Poiret One;font-weight: bolder">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" width="50" height="50"
                 class="d-inline-block align-top" alt="Dublin Bikes">
            <a class="navbar-caption text-white display-7" href="#top_page" onclick="to_map()">Dublin Bikes</a>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
            <ul class="navbar-nav">
                <img src="{{ url_for('static', filename='img/home.svg') }}" width="35" height="35"
                     style="margin-top: 10px;margin-right: -30px"
                     alt="Home">
                <li class="nav-item">
                    <a class="nav-link link text-white" href="#page_top" style="font-size: 1.4rem">Home </a>
                </li>
                <img src="{{ url_for('static', filename='img/home_map.svg') }}" width="35" height="35"
                     style="margin-top: 10px;margin-right: -30px"
                     alt="Home">
                <li class="nav-item">
                    <a class="nav-link link text-white" href="#" style="font-size: 1.4rem">Map</a>
                </li>
                <img src="{{ url_for('static', filename='img/work-team.svg') }}" width="40" height="40"
                     style="margin-top: 10px;margin-right: -30px"
                     alt="Home">
                <li class="nav-item">
                    <a class="nav-link link text-white" style="font-size: 1.4rem" href="#">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id='home_page'>
        <div class="embed-responsive embed-responsive-16by9 background">
            <video width="320" height="240" style="opacity: 0.7; background-color: rgb(35, 35, 35);" autoplay muted
                   loop>
                <source src="{{ url_for('static',filename='img/Dublinbikes.mp4') }}#t=5" type="video/mp4">
            </video>
        </div>
        <div class="row justify-content-md-center" style="margin-top: 150px;margin-bottom: 250px">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-1">Discover Bike<br>Explore
                    Dublin</h1>
                <p class="mbr-text align-center pb-3 display-5">
                    Unlock your ride and your city with this website, the smartest bike sharing system. You’ll never
                    have to
                    worry about renting bikes and finding a parking station, just enjoy your ride.
                </p>
                <div class="mbr-section-btn align-center">
                    <button type="button" class="btn btn-md btn-white-outline"
                            onclick="to_map()">Find a
                        bike
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<div id="map_page" style="display: none">
    <div class="container" style="position:relative;">
        <div class="row" style="padding: 30px 0 0 0;">
            <div class="col-md-12" style="">
                <div class="input-group mb-3"
                     style="width: 35%;margin:auto;height: 100%">
                    <div class="autocomplete col-9" style="padding: 0">
                        <input id="search_box" type="text" placeholder="Station name, Street name..."
                               class="form-control"
                               style="border-radius: 5px 0 0 5px;height: 80%">
                    </div>
                    <div class="input-group-append col-3" style="padding: 0;">
                        <button type="button" class="btn btn-info" style="border-radius: 0 5px 5px 0;height: 80%"
                                onclick=open_info_window()>Search
                        </button>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="container" style="padding: 0;position: relative;">
        <div style="position:absolute;z-index: 999;right: 5px;top: 5px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="container">
                <div class="row align-items-center"
                     style="background: #FAFAFA;">
                    <div class="city col-4">
                        Dublin
                    </div>
                    <div class="col-8"
                         style="font-family: Poiret One;font-size: 20px;font-weight: bolder">
                        <span style="margin-right: 10px">25&deg; CLOUDY</span>
                        <i class="wi wi-thunderstorm" style="font-size: 35px;"></i>
                    </div>
                </div>
                <div class="row"
                     style=";color: white;font-family: Poiret One;">
                    <div class="col-4" style="background: #5e5e5e;padding-bottom: 15px">
                        <div class="row">
                            <p style="margin: auto"> 15:00</p>
                        </div>
                        <div class="row align-items-end justify-content-center">
                            <span style="font-size: 10pt;margin-right: 10px">25&deg;</span>
                            <i class="wi wi-thunderstorm" style="font-size: 30px;"></i>
                        </div>

                    </div>
                    <div class="col-4" style="background: #5e5e5e">
                        <div class="row">
                            <p style="margin: auto"> 15:00</p>
                        </div>
                        <div class="row align-items-end justify-content-center">
                            <span style="font-size: 10pt;margin-right: 10px">25&deg;</span>
                            <i class="wi wi-thunderstorm" style="font-size: 30px;"></i>
                        </div>
                    </div>
                    <div class="col-4" style="background: #5e5e5e">
                        <div class="row">
                            <p style="margin: auto"> 15:00</p>
                        </div>
                        <div class="row align-items-end justify-content-center">
                            <span style="font-size: 10pt;margin-right: 10px">25&deg;</span>
                            <i class="wi wi-thunderstorm" style="font-size: 30px;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="position: absolute;z-index: 999;left: 15px;top:15px;">
            <div class="container">
                <div class="row" style="">
                    <div class="col-2 col-md-2" style=";padding: 0;width: 10%">
                        <button type="button" class="btn btn-primary btn-sm display-4"
                                style="background: #2c3e50;border: 0;border-radius: 20px;" onclick="back_to_now()">NOW
                        </button>
                    </div>
                    <div class="col-10 col-md-10" style="">
                        <input class="range-slider__range" type="range" value="12" min="0" max="23"
                               step="1" style="background: white;" id="time_slider">
                        <span class="range-slider__value" id="SliderVal"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="bike_map" style="height: 650px"></div>
            </div>
        </div>
    </div>
</div>

<script>
    var d = new Date();
    var h = d.getUTCHours();
    var m = d.getMinutes();
    $('#SliderVal').text(h + ":" + m);

    function to_map() {
        let map = document.getElementById('map_page');
        if (map.style.display == 'none') {
            $("#home_page").fadeOut("slow");
            $("#map_page").fadeIn("slow");
            document.getElementById('nav_bar').style.backgroundColor = '#5e5e5e';
        } else {
            document.getElementById('nav_bar').style.backgroundColor = 'transparent';
            $("#map_page").fadeOut("slow");
            $("#home_page").fadeIn("slow");
        }

    }


    var historical_data;
    $.get("/update_map?t=all", function (response) {
        historical_data = response;
    });

    time_slider_obj = $("#time_slider");
    time_slider_obj.on('change', function () {
        let val = $("#time_slider").val();
        $("#SliderVal").text(val + ":00");
        clear_markers();
        draw_marker(historical_data[parseInt(val)])
    });
    var time_galobal = "current";

    function open_info_window() {
        let marker = markers[0].obj;
        let content = markers[0].content;
        let station_name = document.getElementById('search_box').value;
        for (let i = 0; i < markers.length; i++) {
            if (markers[i].title == station_name) {
                marker = markers[i].obj;
                content = markers[i].content;
                break;
            }
        }
        var infowindow = new google.maps.InfoWindow({
            content: content,
            maxWidth: 500
        });
        if (active_marker_obj != null) {
            active_marker_obj.close();
        }
        active_marker_obj = infowindow;
        infowindow.open(marker.get("map"), marker);
    }

    function back_to_now() {
        $("#time_slider").val({{ current3 }});
        $('#SliderVal').text(h + ":" + m);
        time_galobal = "current";
        $.get("/update_map?t=current", function (response) {
            clear_markers();
            draw_marker(response);
        });
    }

    function to_feature() {
        if (document.getElementById("wrap-box_feature").style.display === "none") {
            document.getElementById("wrap-box_now").style.display = 'none';
            document.getElementById("wrap-box_past24").style.display = 'none';
            $("#wrap-box_feature").fadeIn("slow");
        }
    }

    function to_now() {
        if (document.getElementById("wrap-box_now").style.display === "none") {
            document.getElementById("wrap-box_feature").style.display = 'none';
            document.getElementById("wrap-box_past24").style.display = 'none';
            $("#wrap-box_now").fadeIn("slow");
        }
    }

    function to_past24() {
        drawChart();
        if (document.getElementById("wrap-box_past24").style.display === "none") {
            document.getElementById("wrap-box_feature").style.display = 'none';
            document.getElementById("wrap-box_now").style.display = 'none';
            $("#wrap-box_past24").fadeIn("slow");
        }
    }


</script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script async defer
        {#        src= {{ map_key }}>#}
        src=https://maps.googleapis.com/maps/api/js?client=gme-mcdonaldscorporation2&callback=myMap&language=en>
</script>
<script id="map_script" src="{{ url_for('static', filename='js/map.js') }}" data="{{ bike_api_key }}"
        current=""></script>

<script id="auto_complete_script" src="{{ url_for('static', filename='js/auto-complete.js') }}"
        data=station_list></script>

</body>
</html>